@page "/fetchdata"
@using BlazorApp.Shared 
@using ServiceHealthReader.Data.Models;
@inject HttpClient Http

<h1>Issues</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (issues == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in issues)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.Tenant</td>
                    <td>@forecast.ServiceHealthIssue</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Issue[] issues = new Issue[] { };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            issues = await Http.GetFromJsonAsync<Issue[]>("/api/Announcements") ?? new Issue[]{};
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
