@page "/tenant/{TenantId}"
@page "/tenant/"

@inject DialogService dg
@inject IJSRuntime jsRuntime
@inject NavigationManager nvm

<PageTitle>Tenant info</PageTitle>

<h1>Tenant info</h1>

<p>Tenant registered! </p>

<p>You can now close this tab and hit the "Trigger index" button on the previous tab.</p>


@code {
    [Parameter]
    public string TenantId { get; set; } = "";

    [Parameter]
    [SupplyParameterFromQuery(Name = "code")]
    public string code { get; set; } =  "";


}
